extends ../layouts/main.pug

block content
    h1 Request price for group
    form
        input(type="hidden", name="referrer")
        label Title: 
        input(type="text", id="fieldName" name="name")
        br
        label Group size: 
        input(type="text", name="groupSize")
        br
        label Email: 
        input(type="email", name="email")
        input(type="submit", value="Submit")
    script.
        $(document).ready(function() {
            $('input[name="referrer"').val(document.referrer);
        })