extends ../layouts/main.pug

block content
    form(action="/contest/vacation-photo/"+year+"/"+month, method="post", class="form-horizontal", role="form", enctype="multipart/form-data")
        .form-group
            label(for="fieldName" class="col-sm-2 control-label") Name
            .col-sm-4
                input(type="text" class="form-control" id="fieldName" name="name")
        .form-group
            label(for="fieldEmail" class="col-sm-2 control-label") Email
            .col-sm-4
                input(type="email" class="form-control" required id="fieldEmail" name="email")
        .form-group
            label(for="fieldPhoto" class="col-sm-2 control-label") Vacation Photo
            .col-sm-4
                input(type="file" class="form-control" required id="fieldPhoto" name="photo" accept="image/*")
        .form-group
            .col-offset-2.col-sm-4
                button(type="submit" class="btn btn-primary") Send